.videos {
    margin-bottom: 120px;
}

.grid_box {
    display: grid;
    grid-template-columns: repeat(auto-fill, 390px);
    justify-content: space-between;
    row-gap: 35px;
    margin-top: 100px;
}

.video {
    padding: 15px;
    width: 390px;
    transition: all .3s;
    border-radius: 12px;
}

.video img {
    width: 100%;
    height: 220px;
    border-radius: 12px;
}

.description {
    padding: 8px;
}


.description h3 {
    font-size: 18px;
    font-weight: 600;
    color: #1f2a37;
}

.details {
    display: flex;
    justify-content: space-between;
    margin: 6px 0 25px;
}

.details>h4,
.details>span {
    font-size: 14px;
    color: #606060;
}

.video:hover {
    background-color: #dddddd;
}

.description>button {
    opacity: 0;
    width: 100%;
}

.video:hover .description>button {
    opacity: 1;
}

.videos h2 {
    margin-top: 80px !important;
}

.inptm {
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #eee;
    font-size: 18px;
    outline: none;
    width: 100%;
    background-color: #ececec;
}

.modal_items {
    display: flex;
    flex-direction: column;
    gap: 50px;
}