footer {
    background-image: url("/imgs/footer.png");
    height: 1008px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding-bottom: 70px;
    position: relative;
}

.logo {
    color: #fff;
    font-size: 18px;
}

.announcement {
    font-size: 14px;
    color: #b0b0bd;
    margin-top: 25px;
}

.rights {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.rights>span {
    font-size: 16px;
    color: #b0b0bd;
}

.privacy {
    display: flex;
    align-items: center;
    gap: 15px;
}

.subfooter {
    max-width: 1200px;
    width: 100%;
    display: flex;
    background-color: #1C64F2;
    gap: 90px;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    padding: 50px;
}

.right_side {
    width: 50%;
}

.left_side {
    width: 50%;
}

.left_side>img {
    width: 100%;
}

.title {
    font-size: 38px;
    font-weight: 700;
    color: #fff;
}

.right_side>p {
    color: #fff;
    font-size: 18px;
    margin: 20px 0 40px;
}

.input_area {
    position: relative;
}

.input_area>input {
    padding: 25px 200px 25px 35px;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    outline: none;
    width: 100%;
}

.input_area>button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.socials {
    display: flex;
    align-items: center;
    gap: 8px;
}

.social {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: auto;
    border-radius: 50%;
    background-color: #ffffff1f;
    text-align: center;
}

.social>img {
    width: 100%;
    scale: 0.6;
}

@media screen and (max-width: 768px) {
    footer {
        height: 1600px;
    }

    .subfooter {
        max-width: 768px;
        padding: 30px;
        flex-direction: column;
        position: static;
        transform: translateX(0);
        margin-bottom: 100px;
    }

    .left_side {
        width: 100%;
        padding: 20px 40px;
    }

    .right_side {
        width: 100%;
        text-align: center;
    }

    .input_area {
        text-align: start;
        max-width: 464px;
    }

    .input_area>input {
        width: 100%;
        height: 70px;
        padding: 15px 145px 15px 15px;
        font-size: 14px;
    }

    .title {
        font-size: 38px;
    }

    .right_side>p {
        font-size: 18px;
    }

    .input_area>button {
        font-size: 14px;
        font-weight: 600;
        padding: 8px 18px;
        max-width: none;
        width: 145px;
        height: 50px;
        right: 10px;
    }

    .rights {
        margin-top: 250px;
        flex-direction: column-reverse;
        gap: 30px;
    }
}